:root {
  /* Colors */
  --primay-color-blue: #003cfb; /* Hoofdkleur blauw */
  --accent-color-blue: #001863; /* Accentkleur blauw */
  --primay-color-black: #1e2432; /* Hoofdkleur zwart */
  --accent-color-white: #fefefe; /* Accentkleur wit */
  --primay-color-grey: #6b7280; /* Hoofdkleur grijs */

  /* Fonts */
  --paragraph-font: 400 16px/1.5 "Inter", sans-serif; /* Normaal lettertype alinea's */
  --paragraph-font-bold: 700 16px/1.5 "Inter", sans-serif; /* Vetgedrukt lettertype alinea's */
  --heading-font: 700 20px/1.5 "Mark Pro", sans-serif; /* Vetgedrukt lettertype koppen */
}

/* Styling */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--accent-color-white);
  background: var(--primay-color-blue);
}

header img {
  width: 100px;
}

.intro {
  padding: 48px 0 48px 24px;
  font-size: 1.5rem;
}

h1 {
  margin: 2;
  font-family: var(--heading-font);
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.1;
  font-family: var(--paragraph-font);
}

p {
  margin: 0;
  font-family: var(--heading-font);
}

a {
  color: var(--accent-color-blue);
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

/* Article styling */
article {
  color: var(--primay-color-black);
  background: var(--accent-color-white);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.24s ease-in-out;
}

article:hover {
  transform: scale(1.023);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
}

/* Voor alle elemten binnen het article */
article > * {
  padding: 20px;
}

article figure {
  margin: 50;
  padding: 50;
  width: 100px;
  height: 5vh;
}

/* article footer {
  text-align: right;
  border-top: 1px solid var(--accent-color-blue);
} */

h2 a {
  color: var(--primay-color-black);
  text-decoration: none;
}

article p {
  margin: 0;
  color: var(--primay-color-grey);
  font-size: 1rem;
}

.lees-meer {
  color: var(--accent-color-blue);
  text-decoration: none;
  text-align: right;
  border-top: 1px solid var(--accent-color-blue);
}

.lees-meer:hover,
.lees-meer:active {
  text-decoration: underline;
}

/* Grid */
.grid {
  display: grid;
  gap: 12px; /* De ruimte tussen de grid-items (12 pixels in dit geval) */
  grid-template-columns: repeat(
    1,
    1fr
  ); /* Wordt één kolom gemaakt met een fractie (1fr) van de beschikbare ruimte. */
  grid-template-rows: masonry; /* Hier worden de hoogtes van de rijen automatisch aangepast op basis van alle inhoud */
}

@media screen and (min-width: 680px) {
  /* Zet grid op 2 kolommen. */
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Doordat het zich herhaalt, krijg je even brede kolommen */
  }
}

@media screen and (min-width: 768px) {
  /* Zet grid op 2 kolommen. */
  .grid {
    gap: 18px; /* De ruimte tussen de kolommen en rijen. */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  /* Zet grid op 2 kolommen. */
  .grid {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  /* Selecteert alle 'intro' elementen binnen de media query. */
  .intro {
    text-align: center;
  }

  /* Zet grid op 3 kolommen. */
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
