:root {
  /* Colors */
  --primary-color-blue: #003cfb; /* Hoofdkleur blauw */
  --accent-color-blue: #001863; /* Accentkleur blauw */
  --primary-color-black: #000000; /* Hoofdkleur zwart */
  --accent-color-white: #fefefe; /* Accentkleur wit */
  --primary-color-grey: #cacaca; /* Hoofdkleur grijs */

  /* Fonts */
  --paragraph-font: 400 16px/1.5 "Inter", sans-serif; /* Normaal lettertype alinea's */
  --paragraph-font-bold: 700 16px/1.5 "Inter", sans-serif; /* Vetgedrukt lettertype alinea's */
  --heading-font: 700 20px/1.5 "Mark Pro", sans-serif; /* Vetgedrukt lettertype koppen */
}

/* Styling */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--primary-color-black);
  background: var(--primary-color-grey);
  margin: 0;
}

header img {
  width: 100px;
}

h1 {
  margin: 2;
  font-family: var(--heading-font);
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.1;
  font-family: var(--paragraph-font);
}

p {
  margin: 0;
  font-family: var(--heading-font);
}

a {
  color: var(--accent-color-blue);
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
  /* Optioneel: als je de items binnen de grid-container wilt centreren */
  justify-items: center;
}

img {
  max-width: 100%;
}

/* Article styling */
article {
  color: var(--primary-color-black);
  background: var(--accent-color-white);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.24s ease-in-out;
  position: relative;
}

article:hover {
  transform: scale(1.023);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
}

/* Voor alle elemten binnen het article */
article > * {
  padding: 20px;
}

article img {
  margin: 5;
  padding: 5;
  width: 25%;
  height: auto;
  max-width: 100%;
  display: block;
}

h2 a {
  color: var(--primary-color-black);
  text-decoration: none;
}

article p {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--primary-color-grey);
  font-size: 1rem;
}

.ontdek-fase {
  color: var(--accent-color-blue);
  text-decoration: none;
  text-align: right;
  position: absolute;
  bottom: 5px;
  left: 0;
  color: var(--accent-color-blue);
  text-decoration: none;
  text-align: left;
}

.ontdek-fase:hover,
.ontdek-fase:active {
  text-decoration: underline;
}

article hr {
  margin: 25px auto;
  width: 80%;
  border: none;
  border-top: 1px dashed #333;
}

/* Grid */
.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 680px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .grid {
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .navbar {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color-blue);
  }

  .nav-menu.show-nav-menu {
    display: flex;
  }
}

/* Navigatie Styling */

.navbar {
  background-color: var(--primary-color-blue);
  padding: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  background-color: var(--primary-color-black);
  height: 3px;
  width: 25px;
  margin: 6px 0;
  transition: background-color 0.3s ease-in-out;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #00f;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color-blue);
  }

  .nav-menu.show-nav-menu {
    display: flex;
  }
}
